/*  
    #e6e6e6

    #FAFAFA     LIGHTEST
    #E0E0E0     LIGHT GRAY
    #BABABA 
    #7A7A7A
    #262626     DARKEST
*/  


body {
	color: #262626;
	background-color: #FAFAFA;
    background-image: url("../img/background2.png");
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
}

div {
}


* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
    color: #262626;

}

a:hover {
    color: red;
    transition: .3s;
}

li {
font-size: 12px;
}

.menuLi {
    font-size: 12px;
    margin-bottom: 8px;
    border: 1px solid gray;
    padding: 5px 5px;

}

.menuLi:hover {
    background-color: #E0E0E0;
    transition: .3s;
}

h1 {
    font-size: 12px;
    color: #BABABA;
    line-height: 0;
    margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	color: #BABABA;
}

h3  {
    font-size: 20px;
    color: #BABABA;
}

h4 {
	font-size: 16px;
    font-weight: light;
    color: #7A7A7A;
}

h5 {
    font-size: 12px;
    font-weight: light;
    color: #7A7A7A;
}

h5::hover {
    color: #E0E0E0 ;
}

p {
	font-size: 12px;
	color: #262626;
}

/*LINE*/
hr {
	border: none;
	margin:  auto;
	border: solid;
	width: 70%;
}





.main {
    background-color: none;
    position: static;
    width: 800px;
    min-height: 500px;
    margin-top: 10px;
    margin-left: 120px;
    padding: 30px;
    overflow-y:auto;
    border: 1px solid #7A7A7A;

}

.menu {
    float: left;
    background-color: none;
    margin: 0px 10px;
    position: fixed;

}


.menuBar {
    padding: 0px;
    list-style: none;
}




.logoContainer {
    position: relative;
    /*padding: 20px;*/
    width: 100px;
    height: 100px;
    background-color: none;
    background-image: url("../img/raxalogo1.png");
    background-size: cover;
    /*border: 1px solid #7A7A7A;*/
}

.logoContainer:hover {
    background-color: #E0E0E0;
    transition: .3s;
}


/* TOP BUTTON */
/* TOP BUTTON */
/* TOP BUTTON */
/* TOP BUTTON */
/* TOP BUTTON */
/* TOP BUTTON */
/* TOP BUTTON */

#topButton {
  display: none;
  position: fixed;
  top: 20rem;
  left: 18px;
  font-size: 10px;
  border: none;
  color: #262626;
  cursor: pointer;
  padding: 5px;
  transition: .3s;
  border: 1px solid #7A7A7A;


}

#topButton:hover {
  background-color: #E0E0E0;
  transition: .3s;
}

/*RESIZING FOR PHONE SCREENS*/
/*RESIZING FOR PHONE SCREENS*/
/*RESIZING FOR PHONE SCREENS*/
/*RESIZING FOR PHONE SCREENS*/
/*RESIZING FOR PHONE SCREENS*/
/*RESIZING FOR PHONE SCREENS*/


@media (max-width: 1000px) {
    .main { position: relative;
            width: 100%;
            margin: auto auto;
            float: left;
            height: auto;
    }

    .menu {
        position: static;
        float: none;
    }

    .menuLi {
        margin: auto;
        font-size: 20px;
    }

    #topButton {
        display: none;
        position: fixed;
        bottom: 2rem;
        top: unset;
        z-index: 2;
        font-size: 20px;
        padding: 1rem;
        background-color: white;
    }

    .projectContainer {
        min-height: 500px;
        background-color: none;
    }
}



/* CV */
/* CV */
/* CV */
/* CV */
/* CV */


.cv li {
font-size: 12px;
}


.cv h1 {
    font-size: 12px;
    color: #BABABA;
    line-height: 0;

}

.cv h2 {
    font-size: 12px;
    color: #BABABA;
    line-height: 1;
    margin-bottom: 30px;
}

.cv h3  {
    font-size: 20px;
    color: #BABABA;
    line-height: 1;
}

.cv h4 {
    font-size: 16px;
    font-weight: light;
    color: #7A7A7A;
}

.cv p {
    font-size: 12px;
    color: #262626;
}

/*LINE*/
.cv hr {
    border: none;
    margin:  auto;
    border: solid;
    width: 70%;
}






/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */




.projectContainer {
    position: relative;
    background-color: none;
    padding: 50px;
    margin-top: 20px;
    width: 100%;
    overflow-y: hidden;
    border: 1px solid #7A7A7A;
}

.projectContainer:hover {
    opacity: 80%;
    transition: .3s;
}

.imageCoverHover {
    display:  block;
    height: 100%;
    background-size: cover;
    border: 1px solid #7A7A7A;
    text-align: center;
    margin: auto;
    opacity: 0;
    .transition: 3s;
    
    
}

    .projectContainer:hover .imageCoverHover {
        display: block;
        opacity: 1;
        transition: .3s;
    }



.imageContainer {
    display: block;
    background-color: #262626;
    margin: -10px -20px 0 20px;
    width: 220px;
    height: 220px;
    position: relative;
    float: right;
    border: 1px solid #7A7A7A;
    overflow: hidden;
    background-size: cover;
}




.imageCover {
    height: 100%;
    background-size: cover;
    border: 1px solid #7A7A7A;
    text-align: center;
    margin: auto;
    display: block;
}


.videoContainer {
    width: 100%;
    height: 350px;
    background-color: none;
    border: 1px solid #7A7A7A;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.videoCover {
    width: 100%;
    background-position: center;
    display: flex;
    overflow: hidden;
}

.videoCover:hover {
    opacity: 50%;
    transition: .3s;
}


.process li {
font-size: 12px;
}


.process h1 {
    font-size: 12px;
    color: #BABABA;

}

.process h2 {
    font-size: 12px;
    color: #BABABA;
    margin-bottom: 30px;
}

.process h3  {
    font-size: 20px;
    color: #BABABA;
}

.process h4 {
    font-size: 16px;
    font-weight: light;
    color: darkred;
}

h5 {
    font-size: 12px;
    font-weight: light;
    color: #7A7A7A;
}


.process a:hover {
    opacity: 70%;
    transition: .3s;
}

.process p {
    font-size: 12px;
    color: #262626;
}

/*LINE*/
.process footer {
    font-size:  10px;
    color: #262626 ;
}

.process caption {
    font-size: 10px;
    color: red;
}

.row {
    margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
    content:  "";
    display: table;
    clear: both;
}


.column {
    width: 50%;
    float: left;
}

/* Responsive Layout */
@media (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

.imageColumn {
    width: 90%;
    padding-top: 30px;
    padding: 15px;
    border: 1px solid #7A7A7A;
    margin: auto;
}

.imageRow {
    width: 95%;
    padding: 15px;
    border: 1px solid #7A7A7A;
    margin: auto;
}
































